extends layout

block content
    div.container
        div.card.my-3
            div.container
                div.row.no-gutters
                    div.col-auto
                        h3.card-title.text-dark How to customize/add new person?
                            p.card-body You can find at 
                                i public/person.json,
                                |  and don't forget to add a new line to display it on views/detail.pug
                p any questions? 
                    a(href="https://kaliwa.github.io") find me

